/* LAYOUT */

#nav {
  grid-column: col-start 5 / span 6;
  grid-row: 1;

  display: grid;
  justify-content: flex-end;
}

#header {
  grid-column: col-start 3/ span 2;
  grid-row: 1;
  display: flex;
}

#main {
  grid-column: col-start / -1;
  grid-row: 2;
}


#root {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  column-gap: 10px;
}

/* HEADER */

#header {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.573);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#header img {
  align-self: center;
  width: 200px;
}

/* NAVBAR */

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: #333333;
  text-align: center;
  padding: 18px 16px;
  margin-left: 10px;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

#navbar li a:hover {
  color: #f4ce14;
}

#navbar li:first-child a {
  color: #ee9972;
}

/* MAIN */

#main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(8, [row-start] 1fr);
  column-gap: 10px;
}

#hero {

  grid-column: col-start/ -1;
  grid-row: row-start/ span 2;
  background: linear-gradient(to bottom, #495e57 60%, #ffffff 0%);

  display:grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(2, [row-start] 1fr);
  column-gap: 10px;
  height: 40rem;
}


#hero article {
 margin-top: 7%;
 grid-column: col-start 3/ span 3;
 grid-row: row-start 1/ span 1;
}

#hero img {
  width: 380px;
  border-radius: 16px;
  margin-top: 3rem;
  margin-right: -1rem;
  transition: .4s;

  grid-column: col-start 8/ span 3;
  grid-row: row-start 1/ span 2;
}


#hero img:hover {
  transform: rotate(4deg) scale(1.2);
  box-shadow: 60px -16px #000000;
}

#hero article div:first-of-type {
  font-family: 'Markazi Text', serif;
  color: #f4ce14;
  font-size: 55pt;
  font-weight: 500;
  margin-bottom: -25px;
}

#hero article div:nth-child(2) {
  font-family: 'Markazi Text', serif;
  color: #edefee;
  font-size: 35pt;
  font-weight: 300;
  margin-bottom: 10px;
}

#hero article div:nth-child(3) {
  font-family: 'Karla', sans-serif;
  color: #edefee;
  font-size: 16pt;
  font-weight: 500;
  text-wrap: balance;
}

#hero button {
  margin: 3rem 0 2rem 0;
  border-radius: 16px;
  background-color: #f4ce14;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  border: none;
  padding: 1rem;
  transition: .2s;
}

#hero button:hover {
  transform: scale(1.1);
  box-shadow:10px 10px #333333;
}

#hero button:active {
  transform: scale(1);
  box-shadow: none;
}


#main #onlineMenuButton {
  grid-column: col-start 3/ span 8;
  grid-row: row-start 2/ span 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 15rem;
}


#main #onlineMenuButton div p {
  font-family: 'Markazi Text', sans-serif;
  font-size: 50pt;
  font-weight: 500;
  margin-bottom: 0;
  color: #333333;
  text-shadow: 100px 50px #495e5715;

}

#onlineMenuButton button {
  border-radius: 16px;
  background-color: #f4ce14;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  padding: 17px 27px;
  transition: .2s;
  margin-bottom: 1%;
}

#onlineMenuButton button:hover {
  background-color: #f4ce14;
  transform: scale(1.1);
  box-shadow:10px 10px #333333;
}

#onlineMenuButton button:active {
  transform: scale(1);
  box-shadow: none;
}

#specialCards {
  grid-column: col-start/ -1;
  grid-row: row-start 3/ span 2;

  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  column-gap: 10px;
  margin-bottom: 10rem;
}

#main #specialCards .firstCardContainer {
  grid-column: col-start 3/ span 3;
  display: flex;
  height: fit-content;
}

#main #specialCards .secondCardContainer  {
  grid-column: col-start 6/ span 2;
  margin: 0 -4rem;
  display: flex;
  justify-content: center;
  height: fit-content;
}

#main #specialCards .thirdCardContainer  {
  grid-column: col-start 8/ span 3;
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

#specialCards .card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 16px;
  width: 80%;
  background-color: #edefee;
  font-family: 'Karla', sans-serif;
}

#specialCards .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

#specialCards .card img {
  width: 100% ;
  height: fit-content;
  border-radius: 16px 16px 0 0;
  height: 32%;
}

.cardContainer {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

#specialCards .card h4  {
  font-size: 18pt;
  font-weight: 900;
  color: #333333;
  display: flex;
  justify-content: space-between;
}

#specialCards .card h4 span {
  color: #ee9972;
}

#specialCards .card p {
  color: #495e57;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.5;
}

#specialCards .card a {
  text-decoration: none;
  color: #333333;
  font-size: 14pt;
  font-weight: bold;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

#specialCards .cardContainer img {
  width: 2rem;
  margin-left: 1rem;
}

#testimonials {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(4 [row-start] 1fr);
  background-color: #495e57;

  grid-column: col-start 1/ -1;
  grid-row: row-start 5/ span 2;
}

#testimonials .heading{
  grid-column: col-start 3/ span 8;

  font-family: 'Markazi Text', serif;
  color: #f4ce14;
  font-size: 55pt;
  font-weight: 500;
  margin: 1rem auto;
}

#testimonials .testimonialsContainer {
  grid-column: col-start 3/span 8;
  grid-row: row-start 1/span 3;
  background-color: #fbdabb;
  border-radius: 16px;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  border: .5px solid #333333;
  transition: .5s;
}

#testimonials .testimonialsContainer:hover {
  transform: scale(1.1);
  box-shadow:15px 15px #333333;
}

#testimonials .customerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 14rem;
}

#testimonials img {
  width: 9rem;
  border-radius: 80px;
  margin: 0 auto;
}

#testimonials .fa {
  color:  rgb(255, 166, 0);
  width: 1rem;
}

#testimonials .stars {
  margin: 0 auto;
  padding-top: 1rem;
}

#testimonials .customerBio {
  padding: 4px 18px;
  text-align: center;
  font-family: 'Karla' , serif;
}

#testimonials .customerBio p {
  font-size: 14pt;
  color: #333333;
  font-style: italic;

}

#testimonials .customerBio h4 {
  font-size: 18pt;
  font-weight: 900;
  color: #333333;
}

#history {
  display: grid;
  grid-column: col-start 3/ span 8;
  grid-row: row-start 7/ span 2;
  grid-template-columns: repeat(2, [col-start] 1fr);
  gap: 10px;
  margin: 2rem 0 2rem 0;
}

#history .historyDescription {
  grid-column: col-start 1;
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem 0 0;
}

#history .historyDescription span:first-child {
  font-family: 'Markazi Text', serif;
  font-size: 64pt;
  color:#495e57;
}

#history .historyDescription span:nth-child(2) {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
  color:#ee9972;
  margin-top: -2rem;
}

#history .historyDescription p {
  font-family: 'Karla', serif;
  font-size: 18pt;
  color:#495e57c0;
}

#history .brothersPictures {
  grid-column: col-start 2;
  display: flex;
  justify-content: end;
  position: relative;
}

#history img {
  width: 70%;
  height: 60%;
}

#history img:first-child {
  position: absolute;
}

#history img:nth-child(2) {
  position: relative;
  padding-top: 19.4rem;
}

/* FOOTER */

#footer {
  grid-column: col-start/ -1;

  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr);
  grid-template-rows: repeat(1, [row-start] 1fr);
  gap: 20px;

  box-shadow: 1px 1px 3px #333333;
  background-color: #495e57;
}

#footer img {
  grid-column: col-start / span 1 ;
  grid-row: row-start / span 1;
}

#footer nav {
    grid-column: col-start 2 / span 1;
    grid-row: row-start / span 1;
}

#footer .contact {
  grid-column: col-start 3/ span 1;
  grid-row: row-start / span 1;
}

#footer .socialMedia {
  grid-column: col-start 4/ -1;
  grid-row: row-start / span 1;
}

#footer img, #footer nav, #footer .contact, #footer .socialMedia {
  justify-self: center;
  font-family: 'Karla', sans-serif;
}

#footer li {
  list-style-type: none;
  margin: 3px;
  padding: 3px;
  overflow: hidden;
}

#footer li a {
  text-decoration: none;
  color: #edefee;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;

}

#footer li a:hover {
  color:#f4ce14;
}

#footer .contact {
display: flex;
flex-direction: column;
}

#footer .contact h6 {
  font-size: 10pt;
  margin: 9px 0;
  color: #edefee;
}

#footer .contact h6 i {
  font-weight: 500;
}

#footer .socialMedia a {
  font-family: 'Markazi Text', sans-serif ;
  font-weight: 400;
  font-size: 16pt;
  color: #edefee;
}

#footer .contact h3, #footer .socialMedia h3 {
  color: #ffffff;
}

#footer #copyright {
  grid-column: col-start / -1;
  grid-row: row-start 2 / -1;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#footer #copyright {
  color: #edefee;
  font-family: 'Markazi Text', sans-serif ;
  font-weight: 400;
  font-size: 16pt;
}

#copyright a {
  color: #edefee;
  font-family: 'Markazi Text', sans-serif ;
  font-weight: 400;
  font-size: 16pt;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

#copyright a:hover {
  color: #ee9972;
}

/* BOOKING PAGE */

#booking {
  background-color: #495e57;
  min-height: 100vh;
  grid-column: col-start/-1;
}

header {
  display: flex;
}

.homeIcon {
margin: 1rem;
position: fixed;
transition: .3s;
}


.homeIcon:active {
  transform: scale(0.98);
}

.homeIcon img {
  width: 10%;
}

header .heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.heading p:first-of-type {
  font-family: 'Markazi Text', serif;
  color: #f4ce14;
  font-size: 55pt;
  font-weight: 500;
  margin-bottom: -70px;
}

.heading p:nth-child(2) {
  font-family: 'Markazi Text', serif;
  color: #edefee;
  font-size: 35pt;
  font-weight: 300;
}

#booking section {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#booking form {
  display: grid;
  gap: 20px;
}

#booking label {
  font-family: 'Karla', serif;
  font-size: 14pt;
  color: #edefee;
  font-style: italic;
}

#booking input  {
  border-radius: 8px;
  border: none;
  padding: 1rem;
  font-size: 12pt;
  width:25rem;
  display: inline-block;
}

#booking select {
  border-radius: 6px;
  border: none;
  padding: 1rem;
  font-size: 12pt;
  display: inline-block;
}

#booking #button {
  margin-top: 2rem;
  border-radius: 16px;
  background-color: #f4ce14;
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  border: none;
  padding: 17px 27px;
  transition: .1s;
  width: 27rem;
  box-shadow: 1px 3px 5px #00000022;
}


#booking #button:active:enabled {
  transform: scale(0.9);
  box-shadow: none;
}


