/* LAYOUT */

#nav {
  grid-column: col-start 5 / span 6;
  grid-row: 1;

  display: grid;
  justify-content: flex-end;
}

#header {
  grid-column: col-start 3/ span 2;
  grid-row: 1;
  display: flex;
}

#main {
  grid-column: col-start / -1;
  grid-row: 2;
}

#footer {
  grid-column: col-start/ -1;
  grid-row: 3;

  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr);
  gap: 20px;
}
#footer img {
  grid-column: col-start / span 1 ;
}

#footer nav {
    grid-column: col-start 2 / span 1;
}

#footer .contact {
  grid-column: col-start 3/ span 1;
}

#footer .socialMedia {
  grid-column: col-start 4/ -1;
}

#root {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  column-gap: 10px;
}

/* HEADER */

#header {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.573);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#header img {
  align-self: center;
  width: 200px;
}

/* NAVBAR */

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: #333333;
  text-align: center;
  padding: 18px 16px;
  margin-left: 10px;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

#navbar li a:hover {
  color: #f4ce14;
}

/* MAIN */

#main {
  height: 150vh;

  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(4, [row-start] 1fr);
  column-gap: 10px;
}

#hero {

  grid-column: col-start/ -1;
  grid-row: row-start/ span 2;
  background: linear-gradient(to bottom, #495e57 50%, #ffffff 0%);

  display:grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(2, [row-start] 1fr);
  column-gap: 10px;
}


#hero article {
 margin-top: 7%;
 grid-column: col-start 3/ span 3;
 grid-row: row-start 1/ span 1;
}

#hero img {
  width: 380px;
  /* height: fit-content; */
  border-radius: 16px;
  margin-top: 3rem;
  margin-right: -1rem;
  transition: 2s;

  grid-column: col-start 8/ span 3;
  grid-row: row-start 1/ span 2;
}


#hero img:hover {
  transform: rotate(5deg) scale(1.2);
  box-shadow: 60px -16px #000000;
}

#hero article div:first-of-type {
  font-family: 'Markazi Text', serif;
  color: #f4ce14;
  font-size: 55pt;
  font-weight: 500;
  margin-bottom: -25px;
}

#hero article div:nth-child(2) {
  font-family: 'Markazi Text', serif;
  color: #edefee;
  font-size: 35pt;
  font-weight: 300;
  margin-bottom: 10px;
}

#hero article div:nth-child(3) {
  font-family: 'Karla', sans-serif;
  color: #edefee;
  font-size: 16pt;
  font-weight: 500;
  text-wrap: balance;
}

#hero button {
  margin-top: 9%;
  border-radius: 16px;
  background-color: #f4ce14;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  border: none;
  padding: 10px 20px;
  transition: .6s;
}

#hero button:hover {
  background-color: #f4ce14;
  transform: scale(1.1);
  box-shadow:10px 10px #333333;
}

#hero button:active {
  transform: scale(1);
  box-shadow: none;
}

#main #onlineMenuButton {
  grid-column: col-start 3/ span 8;
  grid-row: row-start 2/ span 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


#main #onlineMenuButton div p {
  font-family: 'Markazi Text', sans-serif;
  font-size: 50pt;
  font-weight: 500;
  margin-bottom: 0;
  color: #333333;
}

#onlineMenuButton button {
  border-radius: 16px;
  background-color: #f4ce14;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  padding: 17px 27px;
  transition: .6s;
  margin-bottom: 1%;
}

#onlineMenuButton button:hover {
  background-color: #f4ce14;
  transform: scale(1.1);
  box-shadow:10px 10px #333333;
}

#onlineMenuButton button:active {
  transform: scale(1);
  box-shadow: none;
}

#specialCards {
  grid-column: col-start/ -1;
  grid-row: row-start 3/ -1;

  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  column-gap: 10px;
}

#main #specialCards div:first-of-type {
  grid-column: col-start 3/ span 2;
  background-color: #495e57;
}


#main #specialCards div:nth-child(2) {
  grid-column: col-start 6/ span 2;
  background-color: #495e57;
}

#main #specialCards div:nth-child(3) {
  grid-column: col-start 9/ span 2;
  background-color: #495e57;
}

/* FOOTER */

#footer {
  box-shadow: 1px 1px 3px #333333;
  background-color: #edefee;
}

#footer img {
  padding-top: 3%;
}

#footer img, #footer nav, #footer .contact, #footer .socialMedia {
  justify-self: center;
}

#footer li {
  list-style-type: none;
  margin: 3px;
  padding: 3px;
  overflow: hidden;
}

#footer li a {
  text-decoration: none;
  color: #333333;

}

#footer li a:hover {
  color:#f4ce14;
}

